@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Roboto&display=swap');

.box{
   font-family: "Mea Culpa";
}
@keyframes GO {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes caida {
        0%{
            font-size: 0px;
        }
        100%{
            font-size: 100px;
        }
}